{{#discourse-root}}
  {{d-document}}
  {{plugin-outlet name="above-site-header" tagName=""}}

  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12 flush">
          <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="/"><img src="/assets/logo.png" alt="YallaSwap Logo"></a>
            <button class="navbar-toggler js-offcanvas-toggler" data-button-options="{'wrapText':false}"
              aria-label="Toggle navigation" type="button">
              <span class="navbar-toggler-icon"><img src="/assets/hambur_img.png"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault" data-set="bs">
              <ul class="navbar-nav ml-auto js-append-around">
                <li class="nav-item active">
                  <a class="nav-link" href="/t/how-does-yallaswap-work/">{{i18n "ui.nav_menu.how_it_works"}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/c/p/earn-money/">{{i18n "ui.nav_menu.earn_money"}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/c/p/start-checkout/">{{i18n "ui.nav_menu.start_checkout"}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/c/p/search-listings/">{{i18n "ui.nav_menu.search_listings"}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/c/p/advertise-on-swapd/">{{i18n "ui.nav_menu.advertise"}}</a>
                </li>
                <li class="nav-item">
                  {{#link-to "signup" class="nav-link su_btn"}}{{i18n "ui.nav_menu.sign_up"}}{{/link-to}}
                </li>
                <li class="nav-item">
                  {{#link-to "login" class="nav-link li_btn"}}<img src="/assets/login_icon.png"> {{i18n "ui.nav_menu.log_in"}}{{/link-to}}
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>

  {{!-- <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-xs-12 col-sm-7 flush xs-no-flush">
          <h1><span>{{i18n "ui.texts.banner.buy"}}, {{i18n "ui.texts.banner.sell"}},</span><br>& {{i18n "ui.texts.banner.trade_virtual_properties"}}</h1>
          <p>
            {{i18n "ui.texts.banner.text"}}
          </p>
          <ul class="btns">
            <li><a href="/c/p/start-checkout/">{{i18n "ui.texts.banner.get_started"}}</a></li>
            <li><a href="/t/how-does-yallaswap-work/">{{i18n "ui.texts.banner.learn_more"}}</a></li>
          </ul>
        </div>
        <div class="col-lg-5 col-xs-12 col-sm-5 text-right flush xs-no-flush">
          <img src="/assets/home_img.png">
        </div>
      </div>
    </div>
  </section> --}}

  <section id="content">
    <div class="container">
      {{!-- <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12 text-center">
          <h2>{{i18n "ui.texts.content.our_social_media"}}</h2>
          <ul class="social">
            <li><a href="#"><img src="/assets/big_so_icon_1.png"></a></li>
            <li><a href="#"><img src="/assets/big_so_icon_2.png"></a></li>
            <li><a href="#"><img src="/assets/big_so_icon_3.png"></a></li>
            <li><a href="#"><img src="/assets/big_so_icon_4.png"></a></li>
            <li><a href="#"><img src="/assets/big_so_icon_5.png"></a></li>
            <br class="hidden-xs">
            <li class="mt_4"><a href="#"><img src="/assets/big_so_icon_6.png"></a></li>
            <li class="mt_4"><a href="#"><img src="/assets/big_so_icon_7.png"></a></li>
            <li class="mt_4"><a href="#"><img src="/assets/big_so_icon_8.png"></a></li>
            <li class="mt_4"><a href="#"><img src="/assets/big_so_icon_9.png"></a></li>
            <li class="mt_4"><a href="#"><img src="/assets/big_so_icon_10.png"></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12 text-center">
          <h2 class="h2_sec">{{i18n "ui.texts.content.looking_for_something"}}</h2>
          <div class="search_bar">
            <input type="text" name="search" placeholder={{i18n "ui.texts.content.search_placeholder"}}>
            <span><img src="/assets/search_icon.png"></span>
            <div class="row row-eq-height">
              <div class="col-lg-5 col-xs-12 col-sm-5 text-center flush-left xs-no-flush">
                <a href="/t/what-is-yallaswap/13/2">
                  <div class="card">
                    <div class="cont">
                      <h2>{{i18n "ui.texts.content.what_is"}}</h2>
                      <p>{{i18n "ui.texts.content.make_good_money"}}</p>
                    </div>
                    <img class="img_1" src="/assets/card_img_1.png" alt="">
                  </div>
                </a>
              </div>
              <div class="col-lg-7 col-xs-12 col-sm-7 text-center flush-right xs-no-flush">
                <a href="/t/quick-rules-yallaswap/15/2">
                  <div class="card">
                    <div class="cont">
                      <h2 class="rd_h">{{i18n "ui.texts.content.read_agree"}}</h2>
                      <p>{{i18n "ui.texts.content.quick_rules"}}</p>
                    </div>
                    <img class="img_1" src="/assets/card_img_2.png" alt="">
                  </div>
                </a>
              </div>
            </div>
            <div class="row row-eq-height sp_top">
              <div class="col-lg-6 col-xs-12 col-sm-6 text-center flush-left xs-no-flush">
                <a href="/c/p/start-checkout/">
                  <div class="card">
                    <div class="cont">
                      <h2 class="rd_h">{{i18n "ui.texts.content.check_out"}}</h2>
                      <p>{{i18n "ui.texts.content.best_place"}}</p>
                    </div>
                    <img class="img_1" src="/assets/card_img_3.png" alt="">
                  </div>
                </a>
              </div>
              <div class="col-lg-6 col-xs-12 col-sm-6 text-center flush-right xs-no-flush">
                <a href="/t/earn-a-lifetime-reward-of-2-reward-for-every-new-member-that-you-invite-to-yallaswap/18/2">
                  <div class="card">
                    <div class="cont">
                      <h2>YallaSwap<br>{{i18n "ui.texts.content.rewards"}}</h2>
                      <p>{{i18n "ui.texts.content.rewards_text"}}</p>
                    </div>
                    <img class="img_4" src="/assets/card_img_4.png" alt="">
                  </div>
                </a>
              </div>
            </div>
          </div>
          <ul class="big_btns">
            <li><a href="/calculator"><img src="/assets/cal_icon.png"> {{i18n "ui.texts.content.calculator"}}</a></li>
            <li><a href="/c/p/start-checkout/" class="red"><img src="/assets/tick_icon.png"> {{i18n "ui.texts.content.start_checkout_ticket"}}</a></li>
          </ul>
        </div>
      </div> --}}

      <div class="row">
        {{software-update-prompt id="software-update-prompt"}}
        {{plugin-outlet name="below-site-header" tagName="" args=(hash currentPath=router._router.currentPath)}}

        <div id="main-outlet" class="wrap" role="main">
          {{plugin-outlet name="above-main-container" tagName=""}}
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-xs-12 col-sm-12">
                {{#if showTop}}
                  {{custom-html name="top"}}
                {{/if}}
                {{notification-consent-banner}}
                {{pwa-install-banner}}
                {{global-notice}}
                {{create-topics-notice}}
                {{plugin-outlet name="top-notices" tagName="" args=(hash currentPath=router._router.currentPath)}}
              </div>
            </div>
          </div>
          {{outlet}}
          {{outlet "user-card"}}
        </div>
      </div>
    </div>
  </section>

  {{plugin-outlet name="above-footer" tagName="" args=(hash showFooter=showFooter)}}
  {{#if showFooter}}
    {{custom-html name="footer" triggerAppEvent="true"}}
  {{/if}}
  {{plugin-outlet name="below-footer" tagName="" args=(hash showFooter=showFooter)}}

  {{outlet "modal"}}
  {{topic-entrance}}
  {{outlet "composer"}}

  {{!-- {{#if showFooterNav}}
    {{footer-nav}}
  {{/if}} --}}

  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12 text-center">
          <div class="row">
            <div class="col-lg-7 col-xs-12 col-sm-12 flush text-left">
              <a href="#" class="ft_logo"><img src="/assets/footer_logo.png" alt=""></a>
              <p>
                {{i18n "ui.texts.footer.yalla_description"}}
              </p>
            </div>
            <div class="col-lg-5 col-xs-12 col-sm-12 flush">
              <div class="row">
                <div class="col-lg-6 col-xs-12 col-sm-6 text-left">
                  <ul>
                    <li>
                      <h2>{{i18n "ui.texts.footer.quick_links.title"}}</h2>
                    </li>
                    <li><a href="/t/how-to-use-yallaswap/11/2">{{i18n "ui.texts.footer.quick_links.how_to_use"}}</a></li>
                    <li><a href="/t/quick-rules-yallaswap/15/2">{{i18n "ui.texts.footer.quick_links.quick_rules"}}</a></li>
                    <li><a href="/t/faq-yallaswap-you-can-start-here/16/2">{{i18n "ui.texts.footer.quick_links.faq"}}</a></li>
                    <li><a href="/t/faq-yallaswap-rewards-program/21/2">{{i18n "ui.texts.footer.quick_links.rewards"}}</a></li>
                    <li><a href="/c/p/advertise-on-swapd/">{{i18n "ui.texts.footer.quick_links.advertice"}}</a></li>
                  </ul>
                </div>
                <div class="col-lg-6 col-xs-12 col-sm-6 text-left">
                  <h2>{{i18n "ui.texts.footer.quick_links.contact_us"}}</h2>
                  <a href="#">+1 (234) 567-89-00</a><br>
                  <a href="/contact-us">yallaswap.com/contact-us</a>
                  <ul class="footer_social">
                    <li><a href="#"><img src="/assets/ft_icon_1.png"></a></li>
                    <li><a href="#"><img src="/assets/ft_icon_2.png"></a></li>
                    <li><a href="#"><img src="/assets/ft_icon_3.png"></a></li>
                    <li><a href="#"><img src="/assets/ft_icon_4.png"></a></li>
                    <li><a href="#"><img src="/assets/ft_icon_5.png"></a></li>
                    <li><a href="#"><img src="/assets/ft_icon_6.png"></a></li>
                    <li><a href="#"><img src="/assets/ft_icon_7.png"></a></li>
                    <li><a href="#"><img src="/assets/ft_icon_8.png"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <p class="last">{{i18n "ui.texts.footer.copyright"}}</p>
        </div>
      </div>
    </div>

    <div class="footer_vector">
      <img class="top_left" src="/assets/ft_left_top.png" alt="">
      <img class="right_top" src="/assets/ft_right_top.png" alt="">
      <img class="bottom_left" src="/assets/bottom_left.png" alt="">
      <img class="ftcenter" src="/assets/ft_center.png" alt="">
    </div>
  </section>
{{/discourse-root}}
