{{#discourse-root}}
  {{d-document}}
  {{plugin-outlet name="above-site-header" tagName=""}}

  {{#if (eq currentRouteName "discovery.latest")}}
    <MainPage::Header />
  {{else if (eq currentRouteName "topic.fromParams")}}
    <InnerPage::Header />
  {{else if (eq currentRouteName "topic.fromParamsNear")}}
    <InnerPage::Header />
  {{else}}
    <Common::Header />
  {{/if}}

  {{software-update-prompt id="software-update-prompt"}}
  {{plugin-outlet name="below-site-header" tagName="" args=(hash currentPath=router._router.currentPath)}}

  <div id="main-outlet" class="wrap" role="main">
    <Common::NotificationTop />

    {{outlet}}

    {{outlet "user-card"}}
  </div>

  <Common::OldFooter/>

  <Common::Footer/>
{{/discourse-root}}
